* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e6e1e1 !important; }

main {
  padding-top: 155px; }

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1; }

.gardiente {
  position: absolute;
  left: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: auto;
  background-size: 200%;
  margin-left: -15px;
  width: 100%;
  height: 3px;
  animation: steam 20s linear infinite; }

.inicio__barra {
  display: flex;
  justify-content: space-around;
  background-color: black; }
  .inicio__barra .logo {
    width: 220px;
    height: 100px;
    object-fit: cover; }
  .inicio__barra .btn {
    color: black !important;
    background-color: white;
    border: 1px solid #353535; }
  .inicio__barra .btn:hover {
    background-color: gray;
    border: 1px solid #313030; }
  .inicio__barra .usuarios {
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 40px; }
    .inicio__barra .usuarios .jam-user, .inicio__barra .usuarios .jam-shopping-cart {
      text-decoration: none;
      color: white; }
  .inicio__barra .buscador {
    display: flex;
    align-items: center; }

.navbar {
  background-color: #252424; }

.menu__barra {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px; }
  .menu__barra .stilo__enlace {
    color: white;
    text-transform: uppercase;
    font-family: inherit; }

.seccion__titulo-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase; }

.seccion__mejores-marcas {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center; }
  .seccion__mejores-marcas .prod__img {
    width: 100%;
    max-width: 200px;
    height: 200px; }
  .seccion__mejores-marcas .prod1__titulo {
    padding-top: 50px; }
  .seccion__mejores-marcas .seccion__productos-1 {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 300px; }
  .seccion__mejores-marcas .mini__logos {
    width: 90px;
    border-radius: 40px; }
  .seccion__mejores-marcas .prod1 {
    position: relative;
    background-color: white; }
  .seccion__mejores-marcas .logos__inicio {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    padding-top: 150px; }

.seccion__2-productos {
  display: flex;
  width: 100%;
  justify-content: center; }
  .seccion__2-productos .seccion__contenido-prodcuctos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 1200px;
    font-family: inherit; }
  .seccion__2-productos .seccion2__info-productos {
    display: grid;
    justify-items: center;
    background-color: white;
    border-radius: 5px;
    gap: 10px; }
  .seccion__2-productos .seccion2__productos-img {
    width: 200px; }
  .seccion__2-productos .seccion2__icono-productos {
    display: flex;
    border: 1px solid #b3abab;
    width: 200px;
    justify-content: center;
    font-family: inherit;
    height: 50px;
    font-size: 14px; }
  .seccion__2-productos .jam-star-full {
    font-size: 20px;
    color: #e0e00d; }
  .seccion__2-productos .precio {
    font-size: 23px; }

.seccion__2-presentacion {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center; }

.seccion2__presentacion-img {
  width: 100%;
  max-width: 1200px;
  height: 200px;
  object-fit: cover; }

.seccion__3-productos {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  margin-top: 100px;
  margin-bottom: 100px; }

.seccion__contenido-productos3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(1, auto);
  justify-content: space-evenly;
  max-width: 1200px; }

.seccion__info-productos3 {
  background-color: white;
  display: grid;
  justify-items: center;
  text-align: center;
  border-radius: 5px; }

.seccion3__icono-productos {
  display: flex;
  border: 1px solid #b3abab;
  width: 100%;
  max-width: 200px;
  font-family: inherit;
  height: 50px;
  font-size: 14px;
  justify-content: center; }

.seccion3__productos-img {
  width: 200px; }

.novedades {
  background-color: #474545;
  height: 200px; }

.recibi__novedades {
  text-align: center;
  color: white;
  padding-top: 1rem; }

.boton__enviar {
  color: white;
  border: 2px solid white;
  background-color: #111010;
  width: 5rem;
  height: 45px;
  border-radius: 4px; }

footer {
  background-color: #111010;
  color: white; }

.form {
  display: flex; }

.enviar {
  display: flex;
  justify-content: center;
  padding-top: 1rem; }

.footer__final {
  max-width: 100%;
  padding-top: 40px;
  align-items: center; }

li {
  list-style: none; }

.logo__pagos--img {
  width: 40px;
  height: 30px; }

.seccion__pagos {
  background-color: #111010;
  max-width: 100%; }

.logo__titulo {
  padding-left: 40px !important;
  padding-top: 20px; }

.tarjetas__logo {
  padding-top: 20px;
  padding-left: 70px; }

.icono__contacto, .icono__seguinos {
  color: white;
  font-size: 20px;
  text-decoration: none; }

.derechos {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #111010; }

.pag__productosimg-presentacion {
  display: flex;
  justify-content: center;
  width: 100%; }

.titulo__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase; }

.pag__productos-img {
  max-width: 1600px;
  height: 250px;
  width: 100%;
  object-fit: cover; }

.pagina__productos-img {
  width: 200px; }

.menu__productos {
  display: flex;
  width: 100% !important;
  justify-content: center !important;
  justify-items: center; }

.pag__productos-seccion1 {
  display: flex;
  justify-content: center;
  width: 100%; }

.productos__seccion-1 {
  width: 100%;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(3, 400px);
  justify-content: space-evenly;
  row-gap: 20px;
  margin-top: 100px; }

.seccion__productos-contenido {
  background-color: white;
  justify-items: center;
  display: grid;
  text-align: center;
  border-radius: 5px; }

.caja__titulos {
  height: 69px; }

.precio__productos {
  font-size: 25px; }

.enlaces {
  color: black !important;
  font-family: inherit; }

.seccion3__iconos {
  display: flex;
  border: 1px solid #b3abab;
  width: 100%;
  max-width: 200px;
  font-family: inherit;
  height: 50px;
  font-size: 14px;
  justify-content: center; }

.img__ofertas {
  width: 450px;
  height: 300px; }

.img__ofertas-seccion {
  width: 250px; }

.precio__oferta {
  font-size: 20px; }

.titulo__ofertas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .titulo__ofertas .titulo1__ofertas {
    font-size: 40px; }

.seccion__ofertas {
  padding-top: 100px;
  margin-bottom: 100px; }

.presentacion__oferta {
  display: flex;
  justify-content: center; }
  .presentacion__oferta .presentacion__oferta-img {
    width: 1500px;
    height: 300px; }

.seccion__ofertas-contenido {
  gap: 20px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4, auto); }

.oferta__productos {
  background-color: white;
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
  border-radius: 5px;
  border: 2px solid black; }

.etiqueta__oferta {
  background-color: black;
  color: green;
  width: 100px;
  height: 35px;
  position: absolute;
  right: 0;
  border-radius: 5px;
  font-size: 20px;
  font-family: inherit; }

.icono__oferta {
  border: 1px solid #b3abab;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px; }

.ofertas__imperdibles-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #201e1e;
  height: 200px; }
  .ofertas__imperdibles-titulo .titulo2__oferta {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.oferta__logo-img {
  width: 130px;
  object-fit: cover;
  height: 130px; }

.seccion__logos-ofertas {
  display: flex;
  justify-content: center; }

.logo__ubi {
  display: flex  !important;
  margin-left: 70px; }

.boton__oferta {
  padding-bottom: 10px; }

main {
  height: auto; }

.titulo__sobrenosotros {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  height: 200px; }

.parrafo__sobrenosotros {
  color: white;
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px; }

.img__sobrenosotros2 {
  width: 40%;
  display: flex;
  justify-content: center; }

.img__sobrenosotros2-contenido {
  width: 400px;
  object-fit: cover; }

.contenido__sobrenosotros {
  display: flex; }

.sobrenosotros__seccion3-img {
  width: 1000px;
  height: 400px; }

.seccion3__sobrenosotros {
  padding-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center; }

.parrafo__seccion3 {
  color: white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 18px;
  padding-top: 80px; }

.titulo__nosotros-gamer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: red;
  text-transform: uppercase; }
  .titulo__nosotros-gamer .republicgamers {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.video__sobrenosotros {
  display: flex;
  justify-content: center;
  padding-bottom: 100px; }

.faq {
  width: 100%;
  display: grid;
  justify-content: center; }
  .faq .seccion__faq {
    width: 100%;
    max-width: 1200px; }

.titulo_faq {
  color: green;
  font-size: 20px; }

.grid__productos {
  width: 250px; }

@media screen and (max-width: 1023px) {
  .productos__seccion-1 {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(4, 400px); }
  .pagina__productos-img {
    width: 170px;
    height: 170px; }
  .seccion__ofertas-contenido {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(6, 500px); }
  .parrafo__sobrenosotros {
    font-size: 16px; }
  .sobrenosotros__seccion3-img {
    width: 800px;
    height: 400px; }
  .parrafo__seccion3 {
    font-size: 16px;
    max-width: 800px; }
  .img__sobrenosotros2-contenido {
    width: 300px; }
  .republicgamers {
    font-size: 60px !important; }
  .video__px {
    width: 700px !important;
    height: 500px; }
  .enviar {
    padding-top: 3rem; } }

@media screen and (max-width: 991px) {
  .menu__barra {
    gap: 0; }
  .navbar-toggler {
    color: white; }
  .seccion__faq {
    max-width: 800px; } }

@media screen and (max-width: 1023px) {
  .stilo__enlace {
    font-size: 14px; }
  .seccion__productos-1 {
    height: 250px !important; }
  .prod__img {
    width: 100%;
    max-width: 160px !important;
    height: 150px !important; }
  .mini__logos {
    width: 70px !important; }
  .logos__inicio {
    padding-top: 120px !important; }
  .focus-in-contract {
    font-size: 28px; }
  .seccion2__info-productos {
    text-align: center;
    width: 200px; }
    .seccion2__info-productos .seccion2__productos-img {
      width: 150px; }
    .seccion2__info-productos .seccion2__icono-productos {
      width: 160px;
      font-size: 13px; }
  .seccion2__presentacion-img {
    width: 800px; }
  .seccion__info-productos3 {
    width: 200px; }
  .seccion3__productos-img {
    width: 180px; }
  .seccion__contenido-productos3 {
    justify-items: center;
    width: 100%;
    display: flex; }
  .seccion3__icono-productos {
    width: 160px;
    font-size: 13px; }
  .novedades {
    height: 170px; }
  .recibi__novedades {
    font-size: 25px; }
  .form__footer {
    height: 20px; }
  .boton__enviar {
    height: 40px; } }

@media screen and (max-width: 768px) {
  .productos__seccion-1 {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(10, 400px); }
  .pagina__productos-img {
    width: 170px;
    height: 170px; }
  .pag__productos-seccion1 {
    height: 2800px; }
  .precio {
    font-size: 20px; }
  .presentacion__oferta-img {
    overflow: hidden; }
  .oferta__logo-img {
    width: 130px;
    object-fit: cover;
    height: 130px; }
  .img__ofertas {
    height: 250px; }
  .video__px {
    width: 500px !important;
    height: 400px; }
  .contenido__sobrenosotros {
    display: block; }
  .parrafo__sobrenosotros {
    width: 100% !important;
    grid-area: img2;
    padding-left: 0;
    max-width: 600px; }
  .img__sobrenosotros2 {
    grid-area: img1;
    width: 100%; }
  .contenido__sobrenosotros {
    display: grid;
    grid-template-areas: "img1" "img2";
    justify-content: center; }
  .img__sobrenosotros2-contenido {
    width: 600px !important;
    height: 300px; }
  .titulo1__ofertas {
    font-size: 30px !important; }
  .titulo2__oferta {
    font-size: 40px !important; } }

@media screen and (max-width: 800px) {
  .buscador {
    display: none !important; }
  .logo {
    width: 100px !important; }
  .img__presentacion {
    height: 200px; }
  .jam-user, .inicio__barra .usuarios .jam-shopping-cart {
    font-size: 30px; }
  .seccion__mejores-marcas {
    height: 500px; }
  .seccion__productos-1 {
    display: grid !important;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(2, auto);
    gap: 20px; }
  .seccion__contenido-prodcuctos {
    display: grid !important;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 20px; }
  .seccion2__presentacion-img {
    width: 600px;
    object-fit: contain; }
  .seccion__contenido-productos3 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px; }
  .oferta__logo-img {
    width: 100px;
    object-fit: cover;
    height: 100px; }
  .sobrenosotros__seccion3-img {
    width: 600px;
    height: 400px; }
  .parrafo__seccion3 {
    max-width: 600px; }
  .img__sobrenosotros2-contenido {
    width: 250px; }
  .republicgamers {
    font-size: 50px !important; } }

@media screen and (max-width: 599px) {
  .logo {
    width: 90px;
    height: 90px !important; }
  .img__presentacion {
    height: 150px; }
  .seccion__productos-1 {
    display: grid !important;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(3, auto);
    gap: 20px; }
  .seccion__mejores-marcas {
    height: 800px; }
  .seccion2__presentacion-img {
    width: 100%;
    object-fit: contain; }
  .img__sobrenosotros2-contenido {
    width: 400px !important;
    height: 300px; }
  .parrafo__seccion3 {
    max-width: 450px; }
  .parrafo__sobrenosotros {
    max-width: 450px; } }

@media screen and (max-width: 568px) {
  .productos__seccion-1 {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(12, auto); }
  .pagina__productos-img {
    width: 150px; }
  .seccion__productos-contenido {
    grid-template-areas: "item1 item2 " "item1 item3" "item1 item4" "item1 item5"; }
  .pagina__productos-img {
    grid-area: item1; }
  .caja__titulos {
    grid-area: item2;
    height: auto; }
  .seccion3__iconos {
    grid-area: item3; }
  .precio__productos {
    grid-area: item4;
    font-size: 18px; }
  .boton__productos {
    grid-area: item5; }
  .seccion__ofertas-contenido {
    grid-template-columns: repeat(1, 300px) !important;
    grid-template-rows: repeat(12, auto); }
  .video__px {
    width: 400px !important;
    height: 300px; }
  .parrafo__sobrenosotros {
    font-size: 12px; } }

@media screen and (max-width: 425px) {
  .img__presentacion {
    height: 180px; }
  .seccion__contenido-prodcuctos {
    display: grid !important;
    justify-content: center;
    grid-template-columns: repeat(2, 160px);
    gap: 20px; }
  .seccion2__productos-img {
    width: 100px !important; }
  .seccion2__info-productos {
    width: 170px; }
  .precio {
    font-size: 19px !important; }
  .btn {
    font-size: 13px !important; }
  .seccion3__productos-img {
    width: 120px !important; }
  .seccion2__icono-productos {
    font-size: 12px !important;
    width: 150px !important; }
  .seccion__contenido-productos3 {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 330px);
    gap: 20px; }
  .seccion__info-productos3 {
    width: 170px; }
  .productos__seccion-1 {
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(12, auto); }
  .pagina__productos-img {
    width: 150px;
    height: 130px; }
  .seccion3__iconos {
    font-size: 10px;
    width: auto; }
  .caja__titulos {
    height: auto; }
  .seccion__productos-contenido {
    align-items: center; }
  .precio__productos {
    font-size: 16px; }
  .img__sobrenosotros2-contenido {
    width: 320px !important;
    height: 200px; }
  .sobrenosotros__seccion3-img {
    width: 320px !important; }
  .parrafo__seccion3 {
    font-size: 13px; }
  .parrafo__seccion3 {
    max-width: 320px; }
  .video__px {
    width: 320px !important; }
  .republicgamers {
    text-align: center; }
  .parrafo__sobrenosotros {
    max-width: 320px; }
  .logo__pagos {
    flex-direction: column;
    width: 100%;
    justify-items: center; }
  .logo__titulo {
    width: 200px !important;
    padding-left: 60px; }
  .titulo1__ofertas {
    font-size: 25px !important; }
  .titulo2__oferta {
    font-size: 35px !important; } }

@media screen and (max-width: 1200px) {
  .logo__ubi {
    margin-left: 0; }
  .video__px {
    width: 1000px; }
  .seccion__faq {
    max-width: 1023px !important; } }

@media screen and (max-width: 678px) {
  .seccion__logos-ofertas {
    display: none; }
  .seccion__ofertas-contenido {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(6, auto); }
  .img__ofertas-seccion {
    width: 200px;
    height: 200px; }
  .oferta__productos {
    display: grid;
    justify-items: center; }
  .republicgamers {
    font-size: 40px !important; }
  .sobrenosotros__seccion3-img {
    width: 425px;
    height: 300px; }
  .parrafo__seccion3 {
    font-size: 14px; } }

.stilo__enlace:hover {
  background-color: white;
  color: black !important;
  font-size: 17px;
  transition: 1s;
  border: 2px solid black; }

.stilos__menu:hover {
  background-color: black;
  color: white !important;
  font-size: 17px; }

.focus-in-contract {
  -webkit-animation: focus-in-contract 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
